.header-content-wrapper{
    background: #F2F5F9;
    text-align: center;
    overflow: hidden;
}
.headind-holder{
    padding:3%;
}
.heading{
    color: #020212;
    font-size:35px;
  font-weight: 400;
   
}
.heading-top{
    font-weight: 600;
    color: #020212;
}
.img-first{
    padding-top: 4%;
}
.tabs ul {
    list-style: none;
    display: flex;
    gap:3%;
    justify-content: center;
    padding-top: 5%;
}
.active-tab{
    color: #4D74B1;
    background:#F2F5F9;
    padding: 4px 8px;
}

