.header-content-wrapper{
  
  
}

.header-conter-titel ul{
    display: flex;
    background: #F2F5F9;
    text-align: center;
    gap: 15%;
}
.heading-faqs
{
    width: 60%;
}
.heading{
  
    font-size:30px;
   
}

.tabs ul {
    list-style: none;
    display: flex;
    gap:3%;
    justify-content: center;
    padding-top: 5%;
}
.tabs ul li:hover{
    color: #4D74B1;
    background:#F2F5F9;
    padding: 4px 8px;
    transition: 0.1s;
    
}


.body-content-collapse{
    margin-top: 4%;
}
.Collapse-box{
    border: 1px solid gainsboro;
     padding:15px ; 
    width:70%;
    margin-left:18%;
    margin-top: 2%;   
}  


.down-arrow img{
    width:20px;
   float: right;
   
    
} 
#collapsetitle{
    display: none;
  
}
.broder-top{
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 10px;

}