.header-content-wrapper{
    background: #F2F5F9;
    text-align: center;
    overflow: hidden;
}
.heading{
  
    font-size:30px;
   
}

.tabs ul {
    list-style: none;
    display: flex;
    gap:3%;
    justify-content: center;
    padding-top: 5%;
}
.active-tab{
    color: #4D74B1;
    background:#F2F5F9;
    padding: 4px 8px;
}

.body-content-collapse{
    margin-top: 4%;
}
.Collapse-box{
    border: 1px solid gainsboro;
     padding:15px ; 
    width:70%;
    margin-left:18%;
    margin-top: 2%;
  text-align: center;
  justify-content: center;
   

    
}  

.down-arrow img{
    width:20px;
   float: right;
   
    
} 